---
let nav;

nav = [
  [
    { name: "Simulador", href: "/" },
    { name: "Docentes", href: "/#" },
  ],
];
---

<div class="container">
  <div>
    <a href="#">
    <img src="/assets/logo-untels.png" alt="Logo" width="200" /></a>
  </div>
  <div>
    <nav>
      <ul>
        {
          nav[0].map((item) => (
            <li>
              <a href={item.href}>{item.name}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</div>
<style>
  .container {
    margin: 0;
    padding: 30px 0; 
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-direction: row; 
    font-family: Arial, sans-serif;
    width: 100%;
    position: fixed; 
    top: 0; /* Se posiciona al inicio del viewport */
    background-color: white; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
  }

  /* Estilo para el logo */
  .container img {
    margin-right: auto; 
  }

  /* Estilo para la navegación */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    margin: 0 10px;
  }

  nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px; 
    border-radius: 5px;
    transition: background-color 0.3s; 
  }

  nav a:hover {
    background-color: rgba(
      0,
      0,
      0,
      0.05
    ); 
</style>
