---
let nav;

nav = [
  [
    { name: "Simulador", href: "/" },
    { name: "Docentes", href: "/#" },
  ],
];
---

<div class="container">
      <nav class="nav-container">
        <ul class="nav-list">
          <li>
            <a href="/">Simulador</a>
          </li>
          <li class="lista">
            <img src="/assets/logo-untels.png" alt="Logo" height="40px" /></a>
          </li>
          <li>
            <a href="#">Docentes</a>
          </li>
        </ul>
    </nav>
</div>
<style>
  .container {
    padding: .2rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.159); 
    z-index: 1000; 
    background-color: white;
  }

  .nav-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .nav-list {
    display: flex;
    
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  /* Estilo para la navegación */

  nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px; 
    border-radius: 5px;
    transition: background-color 0.3s; 
  }

  nav a:hover {
    background-color: rgba(
      0,
      0,
      0,
      0.05
    ); 

  }
    
</style>
