---
import NavBar from "../components/NavBar.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Simulador de Resistencia de Materiales" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body
    ><NavBar />
    <slot />
  </body>
</html>

<style is:global>
  h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
  }
  p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #1D6FB8;
  }
</style>
